.dashboard-container {
    text-align: center;
    margin: 20px;
  }
  
  h2 {
    color: #00796b;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px; 
  }
  
  button {
    padding: 10px 20px;
    background-color: #00acc1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #00838f;
  }
  