<div class="dashboard-container">
    <h2>Hola, a qué tarea del día quieres ingresar</h2>
    <div class="button-container">
      <div class="row">
        <button type="submit" (click)="viewDetail(1, 'Levantarse')">Levantarse</button>
        <button type="submit" (click)="viewDetail(2, 'Desayunar')">Desayunar</button>
        <button type="submit" (click)="viewDetail(3, 'Programar')">Programar</button>
        <button type="submit" (click)="viewDetail(4, 'Descansar')">Descansar</button>
      </div>
      <div class="row">
        <button type="submit" (click)="viewDetail(5, 'Almorzar')">Almorzar</button>
        <button type="submit" (click)="viewDetail(6, 'Programar de nuevo')">Programar de nuevo</button>
        <button type="submit" (click)="viewDetail(7, 'Ejercitarse')">Ejercitarse</button>
        <button type="submit" (click)="viewDetail(8, 'Descansar')">Descansar</button>
      </div>
    </div>
  </div>
  